<!--This is static page, so look up how to do that again.-->
<!--Hide Layout on this page.-->
<p>Hidden Mickey is a database of all Hidden Mickey trading pins.
  Through this site you can view Hidden Mickey series,
  save and share your own pin collection,
  and find fellow pin traders. </p>
<p>To get started, <%= link_to 'Sign Up', signup_path %>, <%= link_to 'Log In', login_path %>, or <%= link_to "Log In with Google", '/auth/google_oauth2' %></p>
